################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/286a6bdd-a922-4fd1-b2a3-6226205b84a4.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/0fb91d13-f630-4aa1-ac2b-ab608dd28e6f.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/4b369111-2e02-417a-8da8-71e0d1171d6f.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/efd93767-9cad-4686-97c4-566e8ea39051.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex
/.vs/slnx.sqlite
/.vs/csc648-848-05-sw-engineering-su24-T1/v17/.wsuo
/.vs/VSWorkspaceState.json
