################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/286a6bdd-a922-4fd1-b2a3-6226205b84a4.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/0fb91d13-f630-4aa1-ac2b-ab608dd28e6f.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/4b369111-2e02-417a-8da8-71e0d1171d6f.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/efd93767-9cad-4686-97c4-566e8ea39051.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex
/.vs/slnx.sqlite
/.vs/csc648-848-05-sw-engineering-su24-T1/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/cfd39b5b-8e61-4792-9819-44dfcee98ee3.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/a76f9687-1643-46d3-8548-8b30571ad077.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/8cce8243-7882-4767-b7ff-c3204dc60474.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/5c9f63b0-9cda-47cf-9047-6f8129eef689.vsidx
/.vs/csc648-848-05-sw-engineering-su24-T1/FileContentIndex/3a860217-95f3-4f69-96ee-6df8b694468e.vsidx
